.add-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    min-width: 60vh;
    margin: 20px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-playlist h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.add-playlist p {
    margin-top: 10px;
    text-align: center;
    color: #777;
}

.add-playlist input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .add-playlist button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-playlist button:hover {
    background-color: #0056b3;
} */
